<strong>
<a href="{{{environment.GITHUB_ROOT}}}/{{environment.REPO}}">{{environment.REPO}}</a>
<a href="{{{environment.GITHUB_ROOT}}}/{{environment.REPO}}/commit/{{environment.SHA}}">{{environment.SHA}}</a>
</strong>

<br>
<i>{{environment.DATE}}</i>
<pre>{{environment.NOTES}}</pre>
<pre>{{environment.DIFF}}</pre>


